**/*.pem
.vscode/
# Ignore Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform lock files
*.terraform.lock.hcl

# Ignore Terraform working directory
.terraform/
